

.search{
    border-radius:5px;
    height: 70px;
    background-color: #fff;
    padding: 10px;
    margin: 150px 10px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width:600px;
    width:100%;
}

.search-input{
    flex:1;
    color: white;
    border:0;
    outline: 0;
    background: none;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;

    padding: 0 10px;
    width: auto;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background: rgba(106, 17, 203, 0.7) !important;
    color:#fff;
}
.search-icon{

    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(37, 117, 252, 0.8) !important;
}

