{% extends "base.html" %}

{% block title %} Tasky {%endblock%}

{% block content %}
<div class="d-flex justify-content-between" style="margin-top: 10px;padding-left:150px;padding-right:150px;margin-bottom: 10px;">
    <h1>Category</h1>
</div>

{%for category in categories %}
<div style="margin-top: 5px;padding-left:150px;padding-right:150px;margin-bottom: 10px; background-color: rgba(0,0,0,0.01); ">

    <div class="card"
         style="margin-top: 5px;margin-bottom: 5px; background-color: rgba(0,0,0,0.01); ">

        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'category_task' category.id %}">{{category.name}}</a></h5>

        </div>
    </div>
</div>

{%endfor%}
<div style="margin-top: 2px;margin-bottom: 20px;">
    <div class="pagination justify-content-center">
    <span class="step-links">
        {% if categories.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ categories.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
        </span>

        {% if categories.has_next %}
            <a href="?page={{ categories.next_page_number }}">next</a>
            <a href="?page={{ categories.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
{%endblock%}