{% extends "base.html" %}
{% block title %} Tasky {%endblock%}
{% block content %}
<div style="margin-top: 30px;padding-left:150px;margin-bottom: 20px;" >

    <div class="d-flex justify-content-between"
     style="margin-top: 10px;padding-right:150px;margin-bottom: 10px;">
        <h3>{{task.title}}</h3>
        {%if task.file %}
        <a href="{% url 'download_file' name %}"> <button class="button-85" role="button">Download</button></a>
        {% endif %}
    </div>

    <small>{{task.category}}</small><br>
    <small>due_date: {{task.due_date}}</small>
    <p>{{task.description}}</p>

    <small>{{task.status}}</small><br>
    {% for tag in task.get_tags %}
    <small>{{tag}}</small>
    {%endfor%}


</div>
{%endblock%}

